

body {
    width:1100px;
    height:790px;
    background: linear-gradient(-20deg, rgb(200,202,208), rgb(255,255,255));
    /*background-color: #cccccc;*/
    transition: background-color 0.5s ease-in;
}


table {
    /*border-collapse: single;*/
    border-spacing: 0px 0px;
    /*margin: 10px;*/
} 

p {
    margin: 5px;
}

#transition-tools {
    font-weight: bold
}

#transition-dynamics {
    font-weight: bold
}

#transition-limit {
    font-weight: bold
}

tr, th,td {
    height: 5px;
}

.emph {
    color: #113366;
}

.emph2 {
    color: #116633;
}

.sf {
    color: #3F3F3F;
    font-size: 85%
}

.code {
    color: #2F2F2F;
    background-color: rgba(200, 200, 210, 0.5);
    width: 520px;
    position: relative;
    left: 220px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    font-size: 85%
}

.remark {
    color: #545454;
}

h1 {
    font-size: 150%;
    position: relative;
    text-align: center;
    color: #3F3F3F;
}

.author { display:table; margin: auto; font-size: 120%; padding: 30pt; color: #113366}

.date   { display:table; margin: auto; font-size: 120%; padding: 30pt; color: #116633 }

.affiliation { display:table; margin: auto; font-size: 90%; }

.step {
    width:1000px;
    height:700px;
    top:68px;
    font-size:29px;
}

li {
    margin-bottom:31px;
}


.cont-table { position:relative; left:0px; padding:8px; background:rgba(100,100,100, 0.1); }
.scaling-param-def { position:absolute; right: 20px; top: 10px }



.pt {
    color: rgba(0, 0, 0, 0)
}

.bg {
    color: #3F3F3F;
    font-weight: bold
}

.b1 { color: #113366 }
.g1 { color: #116633 }

.active-topic-intro {
    position: absolute;
    right: 0px;
    top: -60px;
    position-anchor: 100% 50%;
    font-size: 80%;
    font-weight: bold;
    color: #3F3F3F;
}


.active-topic-tools {
    position: absolute;
    right: 0px;
    top: -60px;
    position-anchor: 100% 50%;
    font-size: 80%;
    font-weight: bold;
    color: #113366;
}

.active-topic-model {
    position: absolute;
    right: 0px;
    top: -60px;
    position-anchor: 100% 50%;
    font-size: 80%;
    font-weight: bold;
    color: #116633;
}

.active-topic-limit {
    position: absolute;
    right: 0px;
    top: -60px;
    position-anchor: 100% 50%;
    font-size: 80%;
    font-weight: bold;
    color: #116633;
}

.toolcolor { color: #113366; }

.physicscolor { color: #116633; }

.limitcolor { color: #442277; }

.active-title {
    position: absolute;
    left: 0px;
    top: -60px;
    position-anchor: 0% 50%;
    font-size: 80%;
    font-weight: bold;
    color: #bb7700;
}

.quote {
    text-align: left;
    margin-left: 220px;
    display: block;
    font-size: 100%;
    font-style: italic;
    color: #3F3F3F
}

.quoteauthor {
    text-align: right;
    margin-left: 150px;
    display: block;
    font-size: 100%;
    font-style: italic;
    color: #3F3F3F
}

.diffusion-vid { 

    position:relative; 
    left:200px; 
    top:-00px;
    width:330px;
}


.subdiffusion-vid { 

    position:relative; 
    left: 200px;
    top:-00px;
    width:330px;
}

.supdiffusion-vid { 

    position:absolute; 
    right: 25px;
    bottom:100px;
    width:330px;
}


.grid-vid { 

    position:absolute; 
    top:30px;
    width:330px;
    right:20px
}


.references {
    font-size:120%;
    /*vertical-align:top;*/
}

.diff-svg {
    position:relative;
    width:330px
}

.subdiff-svg {
    position:relative;
    width:330px
}


